<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/cosmo/bootstrap.min.css"
    />
    <title>Privacy Policy</title>
  </head>
  <body>
    <div id="app"></div>
    <h4>
      This service is a school project and should not be used by any person
      besides those involved in the project. This is strictly for learning
      purposes.
    </h4>
    <h4>
      This service stores your the GMail credentials you give it access to. It
      uses the credentials to retrieve and read email data from GMail, and has
      the ability to write drafts, send emails, and all other functionalities
      provided by Google's GMail API.
    </h4>
    <h4>
      For informatin on how Google stores and uses your data, see here:
      <a href="https://policies.google.com/technologies/partner-sites"
        >https://policies.google.com/technologies/partner-sites</a
      >
    </h4>
    <h4>
      For a list of functions that the API allows this service to do with your
      credentials, see here:
      <a
        href="https://developers.google.com/apis-explorer/?hl=en_US#p/gmail/v1/"
        >https://developers.google.com/apis-explorer/?hl=en_US#p/gmail/v1/</a
      >
    </h4>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
